@{
    ViewData["Title"] = "Landing Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Welcome! Kengaro Issue Tracking</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/images/newfavicon.png" rel="icon">

    <!-- Google Fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/landingpage/bootstrap.min.css" rel="stylesheet">
    <link href="~/landingpage/venobox.css" rel="stylesheet">
    <link href="~/landingpage/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets/css/fontawesome-all.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/landingpage/style.css" rel="stylesheet">
</head>

<body>

    <!-- ======= Hero Section ======= -->
    <section class="hero">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>

            <div class="col-md-12">
                <h1>
                    Kengaroo Issue Tracking
                </h1>

                <p class="tagline">
                    Issue Tracking for Everyone
                </p>
                <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-full scrollto">Get Started Now</a>
            </div>
            <br />
            <p><span class="fas fa-angle-down"></span>  Scroll Down For More Information  <span class="fas fa-angle-down"></span></p>
        </div>
    </section>

    <!-- End Hero -->


    <main id="main">

        <!-- ======= About Section ======= -->
        <section class="about" id="about">

            <div class="container text-center">
                <h2>
                    About Kengaroo Issue Tracking System
                </h2>
                <p>
                    The Kengaroo Issue Tracking System is a bug tracking application built within ASP.Net MVC Core and uses a SQL Server Database.
                    The system allows businesses and individual users to create projects which they can then create tickets to track tasks that need to be completed for the created projects.
                    It also incorporates specific user roles that allow for certain functionality and permissions based on the given role.
                    If you're interested in finding out more, please register a new account or use one of our demonstration accounts by clicking the Login button.
                </p>
            </div>

        </section><!-- End About Section -->
        <!-- ======= Welcome Section ======= -->
        <section class="welcome text-center">
            <img alt="ticket_details" class="gadgets-img hidden-md-down" src="~/landingpage/gadgets.png">
        </section><!-- End Welcome Section -->
        <!-- ======= Features Section ======= -->
        <section class="features" id="features">

            <div class="container">
                <h2 class="text-center">
                    Features
                </h2>

                <div class="row">
                    <div class="feature-col col-lg-4 col-xs-12">
                        <div class="card card-block text-center">
                            <div>
                                <div class="feature-icon">
                                    <span class="fas fa-rocket"></span>
                                </div>
                            </div>

                            <div>
                                <h3>
                                    Custom Design
                                </h3>

                                <p>
                                    Design Customization can be adjusted to your needs and desires.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="feature-col col-lg-4 col-xs-12">
                        <div class="card card-block text-center">
                            <div>
                                <div class="feature-icon">
                                    <span class="fas fa-tv"></span>
                                </div>
                            </div>

                            <div>
                                <h3>
                                    Responsive Layout
                                </h3>

                                <p>
                                    Layout is made responsive using the Bootstrap 4 framework.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="feature-col col-lg-4 col-xs-12">
                        <div class="card card-block text-center">
                            <div>
                                <div class="feature-icon">
                                    <span class="fas fa-bell"></span>
                                </div>
                            </div>

                            <div>
                                <h3>
                                    Innovative Ideas
                                </h3>

                                <p>
                                    We are always looking for ways to improve and innovate our application.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="feature-col col-lg-4 col-xs-12">
                        <div class="card card-block text-center">
                            <div>
                                <div class="feature-icon">
                                    <span class="fas fa-database"></span>
                                </div>
                            </div>

                            <div>
                                <h3>
                                    Good Documentation
                                </h3>

                                <p>
                                    Easy to read instructions that will get you tracking right away.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="feature-col col-lg-4 col-xs-12">
                        <div class="card card-block text-center">
                            <div>
                                <div class="feature-icon">
                                    <span class="fa fa-check"></span>
                                </div>
                            </div>

                            <div>
                                <h3>
                                    Excellent Features
                                </h3>

                                <p>
                                    Excellent base features, as well as options to include more features upon request.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="feature-col col-lg-4 col-xs-12">
                        <div class="card card-block text-center">
                            <div>
                                <div class="feature-icon">
                                    <span class="fa fa-cogs"></span>
                                </div>
                            </div>

                            <div>
                                <h3>
                                    24/7 Support
                                </h3>
                                <p>
                                    24/7 Support available upon request.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section><!-- End Features Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer class="site-footer">
        <div class="bottom">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-xs-12 text-lg-left text-center">
                        <p class="copyright-text">
                            &copy; Copyright Kenan Bjelosevic. All Rights Reserved
                        </p>
                    </div>

                    <div class="col-lg-6 col-xs-12 text-lg-right text-center">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="https://www.kenanbjelosevic.com" target="_blank">Portfolio</a>
                            </li>

                            <li class="list-inline-item">
                                <a href="https://github.com/Kengaroo92" target="_blank">GitHub Repository</a>
                            </li>

                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/kenan-bjelosevic-51579595/" target="_blank">LinkedIn</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </footer><!-- End Footer -->


    <a class="scrolltop" href="#"><span class="fas fa-angle-up"></span></a>

    <!-- Vendor JS Files -->
    <script src="~/landingpage/jquery/jquery.min.js"></script>
    <script src="~/landingpage/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/landingpage/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/landingpage/php-email-form/validate.js"></script>
    <script src="~/landingpage/counterup/counterup.min.js"></script>
    <script src="~/landingpage/tether/js/tether.min.js"></script>
    <script src="~/landingpage/jquery-sticky/jquery.sticky.js"></script>
    <script src="~/landingpage/venobox/venobox.min.js"></script>
    <script src="~/landingpage/lockfixed/jquery.lockfixed.min.js"></script>
    <script src="~/landingpage/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/landingpage/superfish/superfish.min.js"></script>
    <script src="~/landingpage/hoverIntent/hoverIntent.js"></script>

    <!-- Template Main JS File -->
    <script src="~/landingpage/main.js"></script>

</body>

</html>